<nav class="topbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Pizza</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Re-order</a></li>
        <li><a href="/makepizza">start a new order</a></li>
    </ul>
</nav>
