<div class="card col-lg-6">
  <h2>Login Form</h2>
    <div id="error-message-container"></div>
    <form id="login-form" class="form-horizontal">
        <div class="form-group row">
            <label for="email" class="col-lg-2 col-form-label">Email</label>
            <div class="col-lg-10">
                <input type="email" class="form-control" id="email" name="email" required placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-lg-2 col-form-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="password" name="password"  required placeholder="Password">
            </div>
        </div>

        <button type="submit">Login</button>
    </form>

    <script src="static/js/login.controller.js"></script>
</div>
