<h1>Make your own Pizza</h1>

<form class="form-horizontal">
  <fieldset>
    <legend>Ingredients</legend>
    <div class="form-group">
      <label class="col-sm-6 control-label" for="pizza-crust">Select your Pizza's crust</label>
      <div class="col-sm-6">
        <select id="pizza-crust" class="form-control">
          <<option>Hard</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-6 control-label" for="pizza-cheese">Select your Pizza's cheese</label>
      <div class="col-sm-6">
        <select id="pizza-cheese" class="form-control">
          <<option>Hard</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-6 control-label" for="pizza-sauce">Select your Pizza's sauce</label>
      <div class="col-sm-6">
        <select id="pizza-sauce" class="form-control">
          <<option>Hard</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-6 control-label" for="pizza-topping">Select your Pizza's topping</label>
      <div class="col-sm-6">
        <select id="pizza-topping" class="form-control">
          <<option>Hard</option>
        </select>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <label class="col-sm-6 control-label" for="name">Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="name" placeholder="Jose Perez">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-6 control-label" for="address">Address</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="address" placeholder="calle 13, #857, Mata Hambre">
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="reset" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit Order</button>
    </div>
  </div>
</form>
