<!DOCTYPE html>
<html>
  <head>
    <title>Pizza App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="/vendors/css/bootstrap.css">
  </head>
  <body>
      {{> navbar}}
      {{{body}}}
      {{> footer}}
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
      <script src="/vendors/js/bootstrap.js"></script>
      
      <script src="/static/js/ajax.js"></script>
  </body>
</html>
