.body {
  margin-top: 64px;
  margin-bottom: 32px;
}

.thumbnail > img {
  height: 200px;
  width: 100%;
  display: block;
}

td > .btn {
  margin-right: 8px;
}

.topping {
  cursor: pointer;
  margin-right: 8px;
}
