.body {
  /*margin-top: 64px;*/
  /*margin-bottom: 32px;*/
}

.thumbnail > img {
  height: 200px;
  width: 100%;
  display: block;
}

td > .btn {
  margin-right: 8px;
}

.topping {
  cursor: pointer;
  margin-right: 8px;
}

.hide {
  display: none;
}

#topping-container {
  padding: 8px 0px;
}

.text-capitalize {
  text-transform: capitalize;
}

.card {
  border: 1px #BDBDBD solid;
  border-radius: 6px;
  padding: 8px 32px;
  box-shadow: 2px 2px 12px #888888;
  margin-bottom: 8px;
}

.btn-primary {
  /*background-color: #F44336;*/
  margin-left: 16px;
}

/*.navbar-default {
  background-color: #F44336;
  color: #FFF;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}*/
